
//============  position  ============

@mixin position-abs{
    position: absolute; 
}
@mixin position-rel{
    position: relative; 
}
@mixin abs-vertical-center{
    @include position-abs;
    top:50%;
    transform: translateY(-50%);
    @content;
}
@mixin abs-horizontal-center{
    @include position-abs;
    left:50%;
    transform: translateX(-50%);
    @content;
}

@mixin abs-center{
   @include position-abs;
   @include abs-horizontal-center;
   @include abs-vertical-center;
}