.icon-svg{
    @include abs-vertical-center;
    left: 32px;
    
}

.icon-arror-down{
    
    width: 1rem;
    transform-origin: center ;
    @include abs-vertical-center{
        transform: rotate(90deg) translateX(-80%);
    }
    right: 32px;
    
} 
.text-gray{
    color:$color-gray;
} 
.text-left{
    text-align:left;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}