html{
    font: Bold Italic 48px/48px Helvetica Neue;
}



.header{
    height:2rem;
    background-image:url(https://images.unsplash.com/photo-1523594572281-3c9a566b6163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    h1{
        font-size: 48px;
    }
} 