*{
    box-sizing: border-box;
}

html{
    font-family: Bold Italic  Helvetica Neue;
    -webkit-font-smoothing: antialiased;
   
}

h1,h2,h3,h4,h5{
    letter-spacing: 1.2px;
}
h1{
    font-size: 48px;
} 
h2{
    font-size: 36px;
} 
// p{
//     font-size: 16px;
// }

.header{
    margin: 64px 0 ; //85px
    margin-right:275px;
    min-height:352px;
    position: relative;
    background-image:url(https://images.unsplash.com/photo-1523594572281-3c9a566b6163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
    h1{
        
        font-size: 48px;
        font-weight: 700;
        font-style: italic; 
        font-family: Open Sans,sans-serif;
        writing-mode: vertical-lr;
        text-align: center;
        background-color: #fff;
        letter-spacing: 1px;
        line-height: 1.2;
        color:$color-black ;
        
    }
} 