$color-primary:#569DC3;
$color-black: #2d3643 ;
$color-gray:#748290;
$gutter-width:30px;
$grid-mum:12;

$themes:(
    'primary': #569DC3, 
    'black':#2d3643,
    'gray':#748290
);

// @each $key ,$value  in $themes{
     
// }  