.icon{
    cursor: pointer;
    
    &-svg{
      fill:#efefef;
      transition:fill 0.3s;
      &:hover{
        fill: lighten($red, 15%)
      }
    }
    .active{
      fill:$red;
    }
  
   } 
  