.panel{
    height: 100vh;
    display: flex;
 }
 .panel-main{
    width: 55%;
    position: relative;
    transition: width 0.3s;
    &-expand{
      width: 96%;
    }
    .logo{
        position: absolute; 
        bottom:5rem; 
        left: 50%; 
        transform:translateX(-50%);
        font-size: 0.6rem;
        font-weight: 300;
        letter-spacing: 1.5px;
    }
    .icon-tomato{
        position: relative; 
        .icon-title{
            position: absolute; 
            top: 50%;
            left: 50%; 
            transform: translate(-50%,-50%);
            font-weight: 200;
        }
    }
    
 }

.panel-aside{
  width: 45%;
  position: absolute;
  right: 0;
  transition: right 0.3s;
  &-shrink{
    right: -41%;
  }
  &-tools{
    width:10%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    border-right:1px darken(#efefef, 50%) solid;
  }

  &-main{
    width: 90%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
  }
  
}
 