.panel{
    height: 100vh;
    display: flex;
 }
 .panel-main{
    width: 45%;
    position: relative;
    .logo{
        position: absolute; 
        bottom:5rem; 
        left: 50%; 
        transform:translateX(-50%);
        font-size: 0.6rem;
        font-weight: 300;
        letter-spacing: 1.5px;
    }
    .icon-tomato{
        position: relative; 
        .icon-title{
            position: absolute; 
            top: 50%;
            left: 50%; 
            transform: translate(-50%,-50%);
            font-weight: 200;
        }
    }
    
 }

.panel-aside{
  width: 55%;
  
  position: relative;
  
  &-shrink{
    width:8%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    border-right:1px darken(#efefef, 50%) solid;
  }

  &-main{
    width: 92%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
  }
}
 