.toggler{
    padding:0.5rem 1rem;
    position: fixed; 
    bottom:5rem;
    left: 50%; 
    z-index: 100; 
    transform: translate(-50%);
    min-width: 6rem;
    cursor: pointer;
    border-radius: 100px 20px 20px 100px;
    background-color: #fff;
    box-shadow: 15px 8px 12px 4px rgba(0,0,0,.2);
    
    svg{
        display: inline-block;
    }
    .icon-arrow{
        max-width: 1rem;
        margin-left: 1rem;
    }
   
}