$container-width:map-get($grid-breakpoints, "lg");
$card-width:$container-width / 8;
$card-height:$card-width *1.5;
.card {
    display: inline-block;
    &-poker {
        padding: 2rem;
        width: $card-width;
        height: $card-height;
        background-color: #fff;
        border: none;
        border:1px solid black;
         position: absolute;
         left: 0;
    }
    &-box {
        margin: .2rem;
        width: calc( #{$card-width} + 2px);
        height: calc(#{$card-height} + 2px);
        overflow: visible;
        background-color: transparent;
    }
}

.patern {
    position: relative;
    &-left-top {
        position: absolute;
        left: 1.2rem;
        top: 0.8rem;
    }
    &-right-bottom {
        position: absolute;
        right: 1.2rem;
        bottom: 0.8rem;
    }
}